RewriteEngine On

# redirect all  calls to index.php

RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg)$
RewriteRule ^/((?!index\.php$).+)$ /index.php?data=$1 [L,NC]

# otherwise, serve your index.html app
RewriteRule ^(.+)$ index.php [L]