RewriteEngine On

# redirect all  calls to index.php
RewriteCond %{REQUEST_URI} !^/css/[^/]+\.css$
RewriteRule ^/((?!index\.php$).+)$ /index.php?data=$1 [L,NC]

# otherwise, serve your index.html app
RewriteRule ^(.+)$ index.php [L]