ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00c800;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    color: #ffffff;
    background-color: #0000ff;
}